.Container{
    width: 690px;
    height: 545px;
    background-color: rgb(245, 220, 77);
    font-size: 70px;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin: auto;
}

.H1{
    width: 238px;
    height: 350px;
    background-color: rgb(255, 144, 163);
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    margin: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.H2 {
    width: 420px;
    height: 150px;
    background-color: rgb(255, 144, 163);
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    margin: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FCentral {
    display: flex;
    margin-left: 250px;
    margin-top: -200px;
}

.H3,.H4,.H5 {
    width: 130px;
    height: 188px;
    background-color: rgb(255, 144, 163);
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.H6 {
    width: 670px;
    height: 160px;
    background-color: rgb(255, 144, 163);
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}